/EjemploPOOArchivosSerializacion01/EjemploArchivosSerializacion/build/
/EjemploPOOArchivosSerializacion01/EjemploArchivosSerializacion/nbproject/private/
/EjemploPOOArchivosTextoSecuencial/ArchivosSecuencialPOO/dist/
